<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>API Request Example</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/static/css/json.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/rium.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        const date = new Date();
        const month = date.getMonth() + 1;
        const day = date.getDate()
        const todayStr = `${date.getFullYear()}-${month<10 ? "0"+month : month}-${day<10 ? "0"+day : day}`;
        const router = {
            'user/fetch': ['user/' + localStorage.getItem('user_id')],
            'user/list': ['user' + object2UrlQuery({page: 1})],
            'user/login': ['user/login', 'POST', {account: 'test9', password: '999999'}],
            'user/register': ['user', 'POST', {
                account: 'test9',
                password: '999999',
                identity: '999999',
                name: '测试9',
                avatar: '',
                gender: 'female',
                phone: '13100001111',
                email: '123@123.com'
            }],
            'user/update': ['user/' + localStorage.getItem('user_id'), 'POST', {
                name: '测试9',
                avatar: '',
                gender: 'female',
                phone: '13100009999',
                email: '999@qq.com'
            }],
            'user/avatar': ['user/avatar' + 'PUT', {avatar: null}],
            'user/delete': ['user/' + localStorage.getItem('user_id'), 'DELETE'],
            'message/online': ['message/online'],
            'message/list': ['message' + object2UrlQuery({target_id: 4, next: ""})],
            'astro/fetch': ['astro/nebula'],
            'astro/sync': ['astro/ce', 'POST'],
            'astro/remote': ['astro/remote/nebula'],
            'astro/translate': ['astro/translate' + object2UrlQuery({text: 'hello world!', source: 'en', target: 'zh'})],
            'visitor/ip': ['visitor/ip/' + '123.123.123.123'],
            'visitor/log': ['visitor/log' + object2UrlQuery({begin_date: todayStr, end_date: todayStr})],
            'visitor/stat': ['visitor/stat' + object2UrlQuery({begin_date: todayStr, end_date: todayStr})],
        };
    </script>
    <script>
        /*function doRequest(route) {
            request(...router[route]).then(r => document.getElementById('json-area').replaceChildren(renderJson(r)));
        }*/
        const doRequest = route => request(...router[route]).then(r => document.getElementById('json-area').replaceChildren(renderJson(r)));
    </script>
</head>

<body class="body">
    <div id="apis" class="top10px">
        <ol>
            <li><a onclick="doRequest('user/fetch')">user/fetch</a></li>
            <li><a onclick="doRequest('user/list')">user/list</a></li>
            <li><a onclick="doRequest('user/login')">user/login</a></li>
            <li><a onclick="doRequest('user/register')">user/register</a></li>
            <li><a onclick="doRequest('user/update')">user/update</a></li>
            <li><a onclick="doRequest('user/avatar')">user/avatar</a></li>
            <li><a onclick="doRequest('user/delete')">user/delete</a></li>
            <li><a onclick="doRequest('message/online')">message/online</a></li>
            <li><a onclick="doRequest('message/list')">message/list</a></li>
            <li><a onclick="doRequest('astro/fetch')">astro/fetch</a></li>
            <li><a onclick="doRequest('astro/sync')">astro/sync</a></li>
            <li><a onclick="doRequest('astro/remote')">astro/remote</a></li>
            <li><a onclick="doRequest('astro/translate')">astro/translate</a></li>
            <li><a onclick="doRequest('visitor/ip')">visitor/ip</a></li>
            <li><a onclick="doRequest('visitor/log')">visitor/log</a></li>
            <li><a onclick="doRequest('visitor/stat')">visitor/stat</a></li>
        </ol>
    </div>
    <div id="json-area" class="top10px">
        <pre class="jsonData"></pre>
    </div>
</body>
</html>
