<!-- ┌───────────────────────────────────────────────────────────────────────────────────────┐ -->
<!-- │ Sū Shēngxǜ's from past to present VOID CHAOS False Philosophy code.                     -->
<!-- ├───────────────────────────────────────────────────────────────────────────────────────┤ -->
<!-- │ Elysium, in the Blue Sky. ファンタジーアドベンチャー。 泡泡枪、七彩、环世界宇宙飞船               -->
<!-- ├───────────────────────────────────────────────────────────────────────────────────────┤ -->
<!-- │ 银河系 🌌⚛️🔮🗡️✡️🏞️🎮 Requests.                                               2023      -->
<!-- ├───────────────────────────────────────────────────────────────────────────────────────┤ -->
<!-- │                                                                   —————— Hylea Soo      -->
<!-- └───────────────────────────────────────────────────────────────────────────────────────┘ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/rium.js"></script>
    <script src="/static/js/main.js"></script>
    <title>chat</title>
</head>
<body>
    <div class="chat_commento">
        <div class="chat_top">
            <a href="/web">&nbsp;&lt;&nbsp;</a>
            目标
        </div>
        <div class="line"></div>
        <div class="chat_middle" id="chat_middle_item">
            <!--<div class="chat_left clearfix">
                <div class="chat_left_item_1 ">aa</div>
                <div class="chat_left_item_2">
                    <div class="chat_time">18:57</div>
                    <div class="chat_left_content">
                        asdfsdff？
                    </div>
                </div>
            </div>
            <div class="chat_right">
                <div class="chat_right_item_1">bb</div>
                <div class="chat_right_item_2">
                    <div class="chat_right_time">18:59</div>
                    <div class="chat_right_content">
                        aaaaaaaadddddddd
                    </div>
                </div>
            </div> -->
        </div>
        <div class="line"></div>
        <div class="chat_foot">
            <textarea class="chat_context" id="chat_context_item" cols="30" rows="10" placeholder="请输入"></textarea>
            <div class="chat_commit" id="sendBtn">发送</div>
        </div>
    </div>
    <script>
        let send_message = document.getElementById("chat_middle_item");
        let message = document.getElementById("chat_context_item");

        let conn = new WebSocket(`ws://${window.location.host}/api/v1/message/send?user_id=${localStorage.getItem('user_id')}&token=${localStorage.getItem('token')}`);
        conn.onopen = e => {
            console.log('ws:开启连接');
            // conn.send("ping");
        };
        conn.onclose = e => {
            if (e.wasClean) {
                console.log(`ws:连接关闭, ${e}`);
            } else {
                console.log('ws:连接断开');
            }
        };
        conn.onerror = e => {
            console.log(`ws:错误, ${e.message}`);
        };

        let sendBtn = document.getElementById("sendBtn");
        // 发送内容
        sendBtn.addEventListener("click", _ => {
            let date = new Date();
            let time = date.getHours()+':'+date.getMinutes();
            let right = document.createElement("div");
            right.setAttribute("class","chat_right");
            right.innerHTML = `<div class="chat_right_item_1 clearfix">bb</div>
                <div class="chat_right_item_2">
                    <div class="chat_right_time clearfix">${time}</div>
                    <div class="chat_right_content clearfix">${message.value}</div>
                </div>`;
            send_message.append(right);
            conn.send(JSON.stringify({
                from_id: parseInt(localStorage.getItem('user_id')),
                target_id: 2, 
                type: 1,
                content: message.value,
                send_time: date
            }));
            message.value = "";
        });
        conn.onmessage = e => {
            e = JSON.parse(e.data);
            let left = document.createElement("div");
            left.setAttribute("class","chat_left clearfix");
            left.innerHTML = `<div class="chat_left_item_1">${e.from_id}</div>
                <div class="chat_left_item_2">
                    <div class="chat_time">${e.send_time}</div>
                    <div class="chat_left_content">${e.content}</div>
                </div>`;
            send_message.append(left);
        }
        function closeMessage(){
            conn.close(1000, "关闭");
        }
    </script>
</body>
</html>