<!-- ┌───────────────────────────────────────────────────────────────────────────────────────┐ -->
<!-- │ Sū Shēngxǜ's from past to present VOID CHAOS False Philosophy code.                     -->
<!-- ├───────────────────────────────────────────────────────────────────────────────────────┤ -->
<!-- │ Elysium, in the Blue Sky. ファンタジーアドベンチャー。 泡泡枪、七彩、⚛️                        -->
<!-- ├───────────────────────────────────────────────────────────────────────────────────────┤ -->
<!-- │ 银河系🌌 Requests.                                                             2023      -->
<!-- ├───────────────────────────────────────────────────────────────────────────────────────┤ -->
<!-- │                                                                   —————— Hylea Soo      -->
<!-- └───────────────────────────────────────────────────────────────────────────────────────┘ -->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/static/css/json.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/rium.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        const host = '/api/v1/';

        const login = (account, password) => {
            request(`${host}user/login`, 'POST', {account: account, password: password}).then(r => {
                (r.data && r.data.userId && r.data.token && r.data.expireTime && (
                    localStorage.setItem('userId', r.data.userId),
                    localStorage.setItem('token', r.data.token),
                    localStorage.setItem('expireTime', r.data.expireTime),
                    document.cookie = 'userId='+r.data.userId,
                    document.cookie = 'token='+r.data.token
                ), true) || (r.message && alert(r.message), true) || alert('登录失败');
            });
        }
        // localStorage.getItem('token') && Date.now() < localStorage.getItem('expireTime') || login(...prompt().split(','));
    </script>
    <script>
        // request(`${host}astro/milky way`).then(r => document.body.append(renderJson(r)));
    </script>
</head>

<body class="body">
    <input type="button" id="loginBtn" value="login">
    <a href="/web/v1/chat">chat</a>
    <script>
        loginBtn.onclick = _ => login(...prompt().split(','));
    </script>
</body>

</html>