<!-- ┌───────────────────────────────────────────────────────────────────────────────────────┐ -->
<!-- │ Sū Shēngxǜ's from past to present VOID CHAOS False Philosophy code.                     -->
<!-- ├───────────────────────────────────────────────────────────────────────────────────────┤ -->
<!-- │ Elysium, in the Blue Sky. ファンタジーアドベンチャー。 泡泡枪、七彩、环世界宇宙飞船               -->
<!-- ├───────────────────────────────────────────────────────────────────────────────────────┤ -->
<!-- │ 银河系 🌌⚛️🔮🗡️✡️🏞️🎮 Requests.                                          2023-2024      -->
<!-- ├───────────────────────────────────────────────────────────────────────────────────────┤ -->
<!-- │                                                                —————— Hyrmaeusj 苏      -->
<!-- └───────────────────────────────────────────────────────────────────────────────────────┘ -->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>void-project</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/static/css/json.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/rium.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        const login = (account, password) => {
            request('user/login', 'POST', {account: account, password: password}).then(r => {
                (r.data && r.data.user_id && r.data.token && r.data.expire_time && ((
                    localStorage.setItem('user_id', r.data.user_id),
                    localStorage.setItem('token', r.data.token),
                    localStorage.setItem('expire_time', r.data.expire_time),
                    document.cookie = 'user_id='+r.data.user_id,
                    document.cookie = 'token='+r.data.token, true
                ), true)) || (r.message && alert(r.message), true) || alert('登录失败');
            });
        }
    </script>
</head>

<body>
    <div class="index-container">
        <div><input type="button" id="loginBtn" value="login"></div>
        <div><a href="/web/chat">chat</a></div>
        <div><a href="/web/api">api</a></div>
        <div><a href="/web/storage">storage</a></div>
    </div>
    <script>
        loginBtn.onclick = _ => login(...prompt().split(','));
    </script>
</body>

</html>
