<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>void-project</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="/static/image/icon/1001.ico">
    <link rel="stylesheet" href="/static/css/json.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/rium.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        const login = (account, password) => {
            request('user/login', 'POST', {account: account, password: password}).then(r => {
                (r.data && r.data.user_id && r.data.token && r.data.expire_time && ((
                    localStorage.setItem('user_id', r.data.user_id),
                    localStorage.setItem('token', r.data.token),
                    localStorage.setItem('expire_time', r.data.expire_time),
                    toggleLinkActive()
                ), true)) || (r.message && alert(r.message), true) || alert('登录失败');
            });
        };
        const toggleLinkActive = _ => {
            let links = document.querySelectorAll(".page");
            if (Date.now() > localStorage.getItem('expire_time')) {
                links.forEach(e => {
                    e.classList.add('disabled-link');
                });
            } else {
                links.forEach(e => {
                    e.classList.remove('disabled-link');
                });
            }
            return true;
        };
    </script>
</head>

<body>
    <div class="index-container">
        <div><input type="button" id="loginBtn" value="login"></div>
        <div><a href="/web/chat" class="page">chat</a></div>
        <div><a href="/web/api" class="page">api</a></div>
        <div><a href="/web/storage" class="page">storage</a></div>
        <div><a href="/web/gallery" class="page">gallery</a></div>
    </div>
    <script>
        toggleLinkActive();
        loginBtn.onclick = _ => login(...prompt().split(','));
    </script>
</body>

</html>
