.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    flex: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:5px;
}
.item img{
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}
.item img:hover{
    transform: scale(1.05);
}
@media (max-width:768px){
    .item{
        flex:1 1 calc(50%-10px);
    }
}
@media (max-width:450px){
    .item{
        flex:1 1 100%;
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-img {
    display: block;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    margin-top: 2%;
    animation-name: zoom;
    animation-duration: 0.2s;
}
@keyframes zoom{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.border-gray{
    border: 2px solid gray;
    border-radius: 10px;
}
.border-blue{
    border: 2px solid blue;
    border-radius: 10px;
}

.width50{
    width: 50px;
}
.float-right{
    float: right;
}

.uploader{
    position: relative;
    float: right;
}
.upload-btn{
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

